body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    min-width: 100%;
}

body {
    font-family: 'Inconsolata';
    font-size: 0.5em;
    letter-spacing: 0.2em;
    background: black;
    color: white;
    text-align: center;
}

@media screen and (max-width: 1080px) {
    body {
        font-size: 0.65vw;
        letter-spacing: 0.25vw;
    }
}

.outer-center {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.inner-center {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
}
